swagger: '2.0'
info:
  description: Library system to register and reserve book usage
  version: '1.0.0'
  title: Swagger REST books
consumes:
  - 'application/json'
produces:
  - 'application/json'

basePath: '/api'

paths:
  /library:
    get:
      summary: Get all registered books
      operationId: 'library.read'
      tags:
        - 'Library'
      produces:
        - application/json
      responses:
        '200':
          description: lists of books
          schema:
            type: array
            items:
              properties:
                schema:
                  $ref: '#/definitions/Book'
    post:
      summary: Create a new book
      operationId: 'library.create'
      parameters:
        - name: book
          in: body
          schema:
            $ref: '#/definitions/Book'
      tags:
        - 'Library'
      responses:
        '200':
          description: Book was deleted
        '404':
          description: Book does not exist
  '/library/{isbn}':
    get:
      summary: Get book by ISBN
      operationId: 'library.get'
      parameters:
        - $ref: '#/parameters/isbn'
      tags:
        - 'Library'
      produces:
        - application/json
      responses:
        '200':
          description: book
          schema:
            $ref: '#/definitions/Book'
        '404':
          description: Book does not exist
    delete:
      summary: Delete book by ISBN
      operationId: 'library.delete'
      parameters:
        - $ref: '#/parameters/isbn'
      tags:
        - 'Library'
      produces:
        - application/json
      responses:
        '204':
          description: book
        '404':
          description: Book does not exist
parameters:
  isbn:
    name: isbn
    description: Book ISBN
    in: path
    type: string
    required: true
    pattern: "^[0-9-]+$"

definitions:
  Book:
    type: object
    additionalProperties: True
    properties:
      author:
        type: 'string'
      editorial:
        type: 'string'
      title:
        type: 'string'
      year:
        type: 'string'
      isbn:
        type: 'string'
    required:
      - author
      - editorial
      - title
      - year
      - isbn
